.container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header"
    "main"
    "recommandation"
    "footer";
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  background-color: white;
}

.f-c-l {
  color: rgb(154, 154, 154);
}
.f-c-d {
  color: rgb(44, 44, 44);
}
.f-c-blk {
  color: black;
}

.f-x-s {
  font-size: 10px;
  text-transform: capitalize;
}

.f-s {
  font-size: 11px;
  text-transform: capitalize;
}

.f-m {
  font-size: 12px;
  text-transform: capitalize;
}
.f-l {
  font-size: 13px;
  text-transform: capitalize;
}
.f-x-l {
  font-size: 14px;
}
.f-x-x-l {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2em;
}
h3 {
  text-transform: capitalize;
  font-weight: 800;
}
h4 {
  font-size: 15px;
  font-weight: 800;
}
.f-h-x-s {
  line-height: 1.05em;
}
.f-h-s {
  line-height: 1.1em;
}
.f-h-m {
  line-height: 1.2em;
}
.f-h-l {
  line-height: 1.5em;
}
.f-h-x-l {
  line-height: 2em;
}

.f-th-s {
  font-weight: 600;
}
.f-th-m {
  font-weight: 800;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 1px 0 5px 1px rgba(184, 184, 184, 0.482);
}

header img {
  height: 29px;
}

header .items-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

header .items-3 div {
  margin: 0 8px;
}

div[for="header-icons"] {
  display: flex;
}
header a:link {
  color: black;
  text-decoration: none;
}

header a:visited {
  color: black;
}

div[for="header-icons"] i {
  padding: 10px;
  border-radius: 3px;
}

div[for="header-icons"] i:hover {
  background-color: #d3d7d75c;
}

div[for="header-text"]:hover {
  text-decoration: underline;
}

header .items-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

header .items-2 button {
  height: 33px;
  padding: 5px 12px;
  margin: 0 3px;
  border-radius: 4px;
  background-color: #6c8fb3;
  color: white;
  text-transform: uppercase;
}

header .items-2 button:hover {
  background-color: #204060;
}

main {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

main article {
  margin: 50px;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

main article .img-box {
  position: relative;
  margin: 30px 0;
}
div[name="jumbo-img"] {
  left: -15%;
}
div[name="jumbo-img"] img {
  width: 820px;
}

div[name="large-img"] {
  left: -10%;
}
div[name="large-img"] img {
  width: 720px;
  z-index: -5;
}
div[name="mid-img"] {
  width: 600px;
}
div[name="mid-img"] img {
  width: inherit;
  margin-bottom: 10px;
}

main article .img-box > p {
  margin: 0;
}

main article .video-box iframe {
  margin: 10px 0;
}

main article .video-box > p {
  margin: 0;
}

main article p {
  margin: 10px 0;
}
/*frameborder="0" allow="accelerometer;
autoplay; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen*/
main article .video-box iframe {
  width: 560px;
  height: 315px;
}

div[name="section-8"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: grid;
  grid-template: repeat(2, auto) / repeat(4, auto);
  grid-row-gap: 0;
}

div[name="section-8"] .item {
  margin: 125px 5px 0 5px;
  width: 175px;
}
div[name="section-8"] .item span {
  text-transform: uppercase;
}

section[name="recommandation"] {
  display: grid;
  grid-template-columns: auto 350px;
}

div[name="article-with-img"] {
  padding: 5px 15px;
}

div[name="article-with-img"] .image-galley {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

div[name="article-with-img"] .image-galley div {
  margin-right: 20px;
  margin-bottom: 25px;
  width: 260px;
}

div[name="article-with-img"] img {
  width: 260px;
}

div[name="article-with-img"] img + p {
  margin-top: 4px;
  text-align: right;
  line-height: 1.5em;
}

div[name="most-popular"] {
  padding: 5px 15px;
}

div[name="most-popular"] div {
  margin: 20px 3px;
  font-family: "Times New Roman", Times, serif;
}

div[name="most-popular"] div hr {
  border-top: 0.3px solid #eaecef;
  margin-bottom: 15px;
}
div[name="most-popular"] a:link {
  color: black;
  text-decoration: none;
}
div[name="most-popular"] a:visited {
  color: black;
}

div[name="article-title"] {
  border-top: 1px #e4e6e8 solid;
  padding: 10px 0;
}

footer {
  display: grid;
  grid-template-rows: auto auto 80px;
  justify-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div[name="links-logo"] {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 95%;
  border-top: 4px #d0d2d3 double;
  padding-top: 10px;
}

div[name="links-logo"] img {
  height: 28px;
}

div[name="links-logo"] a:link {
  color: #387cc1;
}

div[name="links-section"] {
  display: grid;
  grid-template-columns: auto 200px;
  margin: 10px 35px;
}

div[name="links-section"] img {
  height: 30px;
  margin-bottom: 20px;
}

div[name="links-section"] h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

div[name="links"] {
  display: flex;
  flex-flow: row / wrap;
}

div[name="links"] div {
  width: 190px;
}

div[name="subscribe"] {
  border-left: 1px #d0d2d3 solid;
  padding-left: 12px;
}

div[name="subscribe"] ul:nth-of-type(2) {
  border-bottom: 1px #d0d2d3 solid;
}

div[name="subscribe"] ul {
  margin: 15px 2px;
}

ul[name="subscribe-option"] {
  font-weight: 900;
  text-transform: capitalize;
}

ul[name="subscribe-option"] i {
  margin-right: 6px;
}

div[name="copyright"] {
  display: block;
  text-align: center;
  width: 95%;
  border-top: 0.5px #d3d6d8 solid;
}

div[name="copyright"] div {
  margin: 12px 0;
}

div[name="copyright"] a {
  color: rgb(193, 188, 188);
  margin-right: 12px;
}
