.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "recommandation"
    "footer";
}

.subletter-1 {
  color: rgb(154, 154, 154);
  font-size: 10px;
  text-transform: capitalize;
}

.subletter-2 {
  color: rgb(154, 154, 154);
  font-size: 12px;
  text-transform: capitalize;
}

.subletter-img {
  font-size: 14px;
}

.strong-letter {
  font-weight: 800;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 30px;
  line-height: 1.2em;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 1px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 1px 0 3px 2px grey;
}

header img {
  height: 25px;
}

header .items-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

header .items-3 div {
  margin: 0 12px;
}

header .items-3 div a:link {
  color: black;
  text-decoration: none;
}
header .items-3 div:hover {
  background-color: #ccc;
}

header .items-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .items-2 button {
  height: 35px;
  padding: 5px 10px;
  margin: 0 3px;
  border-radius: 6px;
  background-color: #336699;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

header .items-2 button:hover {
  background-color: #204060;
}

main {
  margin-top: 60px;
  border: 1px blue solid;
  display: flex;
  justify-content: center;
}

main article {
  margin: 50px;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

main article .add-on {
  position: relative;
  left: -20%;
  margin: 30px 0;
}
main article .add-on img {
  width: 800px;
}

main article .add-on > p {
  line-height: normal;
  margin: 0;
}

main article p {
  margin: 20px 0;
  line-height: 1.5em;
}

main article .inflation {
  left: -10;
  z-index:-5;
}

main article .inflation .section-8 {
  position: absolute;
  top: 0;
  left: 0;
  z-index:0;
  display: flex;
  flex-flow: column / wrap;
  align-content: flex-end;
  justify-content: space-around;
/*  display: grid;
  grid-template: repeat(2,auto) / repeat(4,auto);*/
}

main article .inflation .item {
  position: absolute;
  top: 0;
  left: 0;
  z-index:0;
  display: flex;
/*  display: grid;
  grid-template: repeat(2,auto) / repeat(4,auto);*/
}

section[name="recommandation"] {
  border: 1px blue solid;
  display: grid;
  grid-template-columns: auto 350px;
}

section[name="recommandation"] h3 {
  text-transform: capitalize;
  font-weight: bold;
}

div[name="article-with-img"] {
  padding: 5px 15px;
}

div[name="article-with-img"] .image-galley {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

div[name="article-with-img"] .image-galley div {
  margin: 10px;
  line-height: 20px;
  width: 230px;
}

div[name="article-with-img"] img {
  height: 160px;
}

div[name="article-with-img"] .subletter-1 {
  text-align: right;
}

div[name="article-with-img"] h5 {
  font-size: 16px;
}

div[name="most-popular"] {
  padding: 5px 15px;
}

div[name="most-popular"] div {
  margin: 20px 3px;
  line-height: 22px;
  font-family: "Times New Roman", Times, serif;
}

div[name="most-popular"] div hr {
  border-top: 0.3px solid #eaecef;
  margin-bottom: 15px;
}

footer {
  border: 1px blue solid;
}
